body{
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
  width: 100%;
}
/*header*/
header{
  position: relative;
}
nav{
  width: 100%;
  height: 70px;
  border-bottom: solid 1px #f5f4f9;
  position: fixed;
}
.header-left{
  float: left;
  position: absolute;

}
.header-rigth{
  /*padding: 10px;*/
  position: absolute;
  right: 14px;
  font-size: 1.5rem;
  font-weight: normal;
}
.medium{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.link{
  color: #a6a8ab;
  font-size: 1.5rem;
  padding: 7px;
/*  padding-right: 21px;*/
  vertical-align: middle;
  /*display: inline-block;*/
  /*padding-right: 21px;*/
}
.facebook:hover{
  color: #3b5998;
}
.medium:hover{
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}
.twitter:hover{
  color: #1da1f2;
}
.line::before{
  height:55%;
  width: 1px;
  content: "";
  background-color: #a6a8ab;
  position: absolute;
  margin-top: 14px;
  vertical-align: middle;
}
.counter{
  position: relative;
  color: #02b875;
  margin: 0 auto;
  font-size: 2.5rem!important;
}
.cant{
  font-size: 1rem !important;
  position: absolute;
  z-index: 2;
  left: 37%;
  top: 28%;
  margin: 5%;
  color: white;
  font-style:normal;
}
.foto{
  position: relative;
  width: 35px;
  border-radius: 50px;
}
.logo{
  content: "";
  position: relative;
  background-color: grey;
  vertical-align: middle;
}
.edit{
  color: #2faa75;
  font-size: small;
}
.header-rigth > span:hover{
  color: #04f98f;
}
footer{
  width: 100%;
  height: 63px;
  border-top:solid 1px #f5f4f9;
  bottom: 0;
  position: absolute;
}
.footer-left{
  position: absolute;
  font-size: 1.5rem;
  padding: 14px;
}
.footer-rigth{
  position: absolute;
  right: 14px;
  font-size: 1.5rem;
  font-weight: normal;
}
.footer-rigth > *{
  display: inline-block;
}
.heart{
  color: #00ab6b;
  position: relative;
}
.heart:active{
  /*color: transparent;*/
}
.twiter-footer{
  position: relative;
}
.line-footer{
  color: #a6a8ab;
}
.next{
  position: relative;
  font-size: .9rem;
  font-weight: bold;
  color: #333333;
}
